
<li>
  <%#= link_to user.name, users_path %>
  <%= user.name %>
  <% if current_user.admin? %>
  | <%= link_to "delete", users_path(:id => user.id),   :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
  <% end %>
</li>


