<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What are you looking for?</h1>
        <%= render 'shared/micropost_form' %>
	<table  class="microposts">
	  <%= render @microposts %>
        </table>
      </td>
      <td class="sidebar round">
      </td>
    </tr>
  </table>
<% else %>

  <h2>Your free shopping site for that hard to find item you're lookin for!</h2>
  <img src="/images/Lookin4ithomepageForWeb.gif" alt="lookinforit.com" height="242" width="552"> 


  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>

  <% content_for :sidebar do %>
	<h2>Advertisements</h2>
    <p>No ads yet!</p>

  <% end %>
<% end %>

