<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What are you looking for?</h1>
        <%= render 'shared/micropost_form' %>
	<table  class="microposts">
	  <%= render @microposts %>
        </table>
      </td>
      <td class="sidebar round">
      </td>
    </tr>
  </table>
<% else %>

  <h2>Post what you're lookin for and let sellers find you!</h2>
  <img src="/images/Lookin4ithomepageForWeb.gif" alt="lookinforit.com" height="242" width="552"> 


  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>

  <% content_for :sidebar do %>
    <p>Lookinforit.com is a marketplace where people can drop in and leave a note for what they're lookin' for, like a rare guitar, old jewelry, car parts, anything. Sellers come lookin' for buyers, buyers come lookin' for sellers, and everybody finds what they need. Get whatever you're lookin' for at lookinforit.com</p>
  <% end %>
<% end %>

