<h2>How it Works</h2>
<p>
Lookinforit.com is a marketplace where people can drop in and leave a note for what they're lookin' for, 
like a rare guitar, old jewelry, car parts, anything.  Sellers come lookin' for buyers, buyers come lookin' for sellers, and everybody finds what they need.  Get whatever you're lookin' for at lookinforit.com
</p>

<% content_for :sidebar do %>
  <h2>Advertisements</h2>
  <p>No ads right now!</p>
<% end %>
