<h2>How it Works</h2>
<p>
Lookinforit.com is a marketplace where people can drop in and leave a note for what they're lookin' for, 
like a rare guitar, old jewelry, car parts, anything.  Sellers come lookin' for buyers, buyers come lookin' for sellers, and everybody finds what they need.  Get whatever you're lookin' for at lookinforit.com
</p>
<ul>
  <li><a href="#signup">How To Signup!</a></li>
  <li><a href="#post">How To Post!</a></li>
  <li><a href="#delete">How To Delete Posts!</a></li>
</ul> 

<hr />
<a id="signup" style="none";>Signup!</a> 
<p>  
<img src="/images/how2pics/Sign-Up-Step-One.gif" alt="Smiley face" height="300" width="500">
<p>
  <img src="/images/how2pics/Sign-Up-Step-Two.gif" alt="Smiley face" height="300" width="500">
<hr />
<a id="Post">How To Post!</a> 
<p>
  <img src="/images/how2pics/What-Your-Lookin-for-Step-O.gif"alt="Smiley face" height="300" width="500">
<p>
  <img src="/images/how2pics/What-Youre-Lookin-for-Step-.gif" alt="Smiley face" height="300" width="500">
<p>
  <img src="/images/how2pics/What-Youre-lookin-for-Last-.gif" alt="Smiley face" height="300" width="500">
<p>
  <img src="/images/how2pics/What-Your-Posting-Looks-LIk.gif" alt="Smiley face" height="300" width="500">
<hr />
<a id="delete">How To Delete Posts!</a> 
<p>
  <img src="/images/how2pics/Deleting-Start.gif" alt="Smiley face" height="300" width="500">
<p>
  <img src="/images/how2pics/Deleting-Step-1.gif" alt="Smiley face" height="300" width="500">
<p>
  <img src="/images/how2pics/Deleting-Step-2.gif" alt="Smiley face" height="300" width="500">
<p>
  <img src="/images/how2pics/Deleting-Step-3.gif" alt="Smiley face" height="300" width="500">
<p></p>

<% content_for :sidebar do %>
  <h2>Advertisements</h2>
  <p>No ads right now!</p>
<% end %>
